<h1>Aw crap, the dang computer-bot ain't working right!</h1>
<p>Sorry, our server is made out of dumb rocks, and we're not sure why we made it like that.</p>
<a href="/dashboard" class="btn">How about we just go back to the dashboard?</a>